@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Themes */
:root {
  --color-text-primary: 255, 255, 255;
  --color-fill: 0, 0, 0;
  --color-button-primary-fill: 203, 213, 225;
  --color-button-primary-text: 30, 41, 59;
  --color-button-primary-border: 148, 163, 184;
  --color-button-secondary-fill: 100, 116, 139;
  --color-button-secondary-border: 71, 85, 105;
  --color-button-tertiary-fill: 220 3,8;
  --color-button-tertiary-border: 127, 29, 29;
  --color-calculator-main-fill: 12, 74, 110;
  --color-calculator-input-fill: 15, 23, 42;
}

.theme-light {
  --color-text-primary: 15, 23, 42;
  --color-fill: 255, 255, 255;
}
.theme-party {
  --color-text-primary: 255, 255, 255;
  --color-fill: 6, 214, 160;
  --color-button-primary-fill: 255, 209, 102;
  --color-button-primary-text: 7, 59, 76;
  --color-button-primary-border: 230, 161, 0;
  --color-button-secondary-fill: 6, 214, 160;
  --color-button-secondary-border: 4, 153, 113;
  --color-button-tertiary-fill: 239, 71, 111;
  --color-button-tertiary-border: 184, 16, 55;
  --color-calculator-main-fill: 17, 138, 178;
  --color-calculator-input-fill: 7, 59, 76;
}